{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:import/typescript"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Phaser": true,
    "__webpack_hash__": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true
    }],
    "require-jsdoc": "off",
    "operator-linebreak": ["error", "before"],
    "new-cap": ["error", { "capIsNew":  false }],
    "one-var": "off",
    "guard-for-in": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaFeatures": { "jsx": true },
        "useJSXTextNode": true
      },
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        }
      },
      "rules": {
        "no-inner-declarations": "off",
        "semi": "off",
        "@typescript-eslint/semi": ["error"],
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    }
  ]
}
